<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suggestion.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user_id %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @suggestion.votes %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
